<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
duplicates = len(df)- len(df.drop_duplicates())

print('The number of duplicate rows is: ',duplicates)

dup_respondents = len(df['Respondent'])- len(df.drop_duplicates(['Respondent']))

print('The number of duplicate rows for the column respondent is: ',dup_respondents)

The number of duplicate rows is:  154
The number of duplicate rows for the column respondent is:  154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here

df2 = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
duplicates2 = len(df2)- len(df2.drop_duplicates())

print('The number of rows with duplicates is:' ,duplicates2)

print('The total number of rows after removing duplicates is:' ,len(df2))

print('The number of rows in column Respondent is:' ,len(df2['Respondent']))

The number of rows with duplicates is: 0
The total number of rows after removing duplicates is: 11398
The number of rows in column Respondent is: 11398

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here

print(" \n missing values for all columns : \n\n", df2.isnull().sum())

 missing values for all columns :

 Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
# your code goes here

print(" \n missing values for WorkLoc : \n\n", df2['WorkLoc'].isnull().sum())

print(" \n missing values for EdLevel : \n\n", df2['EdLevel'].isnull().sum())

print(" \n missing values for Country : \n\n", df2['Country'].isnull().sum())

 missing values for WorkLoc :

 32

 missing values for EdLevel :

 112

 missing values for Country :

 0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [19]:
# your code goes here
print("\n value counts Workloc: \n\n", df2['WorkLoc'].value_counts(dropna=False))
print()
print("\n value counts Employment: \n\n", df2['Employment'].value_counts(dropna=False))
print()
print("\n value counts UndergradMajor: \n\n", df2['UndergradMajor'].value_counts(dropna=False))

 value counts Workloc:

 Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64


 value counts Employment:

 Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64


 value counts UndergradMajor:

 Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
NaN                                                                       737
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
#make a note of the majority value here, for future reference
#Office 6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [13]:
# your code goes here


df2['WorkLoc'].fillna('Office', inplace=True)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [14]:
# your code goes here
df2['WorkLoc'].value_counts(dropna=False)

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [20]:
# your code goes here

df.CompFreq.value_counts().index

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [35]:
# your code goes here
NormalizedAnnualCompensation=[]
def NAC():
    for x,y in zip(df2['CompFreq'], df2['CompTotal']): #Python’s zip() function allows you to iterate in parallel over two or more iterables. Since zip() generates tuples, you can unpack these in the header of a for loop
        if x=='Monthly':
            NormalizedAnnualCompensation.append(y*12)
        elif x=='Weekly':
            NormalizedAnnualCompensation.append(y*52)
        else:
            NormalizedAnnualCompensation.append(y)
NAC()
df2['NormalizedAnnualCompensation']= NormalizedAnnualCompensation
df2['NormalizedAnnualCompensation']

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == "":

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).